## 재귀 호출의 연습

### 우주선 발사 카운트 다운

#### 전역

#### 함수

In [2]:
def countDown(n):
    if n == 0:
        print('start!')
    else:
        print(n)
        countDown(n-1)

#### 메인

In [3]:
countDown(10)

10
9
8
7
6
5
4
3
2
1
start!

---

### 별 모양 출력하기 
* 입력한 숫자만큼 차례대로 별 모양을 출력하는 코드

#### 전역

#### 함수

In [4]:
def printStar(num):
    if num > 0:
        printStar(num-1)
        print('★' * num)

#### 메인

In [5]:
printStar(3)

★
★★
★★★

---

### 구구단 출력하기
* 2단부터 9단까지 구구단을 출력하는 코드

#### 전역

#### 함수

In [13]:
def ggd(num1, num2):
    print(f'{num1} * {num2} = {num1*num2}')
    if num2 < 9:
        ggd(num1, num2+1)

#### 메인

In [21]:
for i in range(2, 10):
    ggd(i, 1)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

---

### N제곱 계산하기

#### 전역

In [29]:
tab = ''

#### 함수

In [33]:
def pow(x, n):
    global tab
    tab += '  '
    if n == 0:
        return 1
    print(f'{tab}{x}*{x}^{n}-{1}')
    return x * pow(x, n-1)

#### 메인

In [34]:
pow(3,3)

      3*3^3-1
        3*3^2-1
          3*3^1-1

27

---

### 배열의 합 계산하기
* 랜덤하게 생성한 배열의 합계를 구하는 코드

#### 전역

In [56]:
import random
ary = [random.randint(0, 225) for _ in range(10)]

#### 함수

In [57]:
def arySum(ary, n):
    if n <= 0:
        return ary[0]
    return arySum(ary, n-1) + ary[n]

#### 메인

In [60]:
print(ary)
print('합계 ->', arySum(ary, len(ary)-1))

[20, 185, 8, 166, 205, 68, 83, 123, 192, 220]
합계 -> 1270